@CHARSET "ISO-8859-1";

#container
{
  margin: 0 auto;
   width: 600px;
  background:#ccc;
}

#header
{
  padding: 10px;
  background:#ccc;
}

#header h1 {margin: 0;}

#navigation
{
  float: left;
  width: 600px;
 background:#333;
}

#navigation ul
{
  margin: 0;
  padding: 0;
}

#navigation ul li
{
    list-style-type: nome;
    display: inline;
}


#navigation li a
{
  display: block;
  float: left;
  padding: 5px 10px;
   color:#ccc;
  text-decoration: none;
  boder-right: 1px solid#ccc;
}

#navigation li a a:hover { background: #383; }

#content
{
  clear: left;
  padding: 10px;
}
#content 
{
   color:#000;
    font-size: 70%;
    margin: 0 0 .5em;
}


#footer
{
 background: #ccc;
  text-align: right;
  padding: 20px;
  height: 1%;
}
